[Desktop Entry]
Type=Application
Version=1.0
Name=Animatch
Exec=animatch
Comment=A cute match-3 game
Icon=animatch
Terminal=false
Categories=Game;ArcadeGame;
